.box{
	width: 500px;
	height: 500px;
	background-color: rgba(231, 76, 60,1);
	background-image: url('../images/b1.jpg');
	/*
		../ - one folder out
	*/
	border: 2px black solid;
	background-size:cover;
	background-repeat: no-repeat;
	/*250px 500px */
	margin: auto;
	/*border-radius: 10px;*/
	border-radius: 10px 20px 5px 15px;
	opacity: 1;
	/*0 - 1 , 0.1, 0.2, 0.3 ,0.4*/
		/*
			r - red : 0 - 255
			g - green: 0 - 255
			b - blue: 0 - 255
			a - alpha: 0 - 1 ;
		*/
}